.login {
    background: gray;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    margin: 15rem auto;
}
.titulo {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(241, 232, 232);
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}
.beta {
    background: #0e140f; 
}
.iniciar {
    background: rgb(1, 55, 99); 
}
.crear {
    background: rgb(179, 5, 5); 
}
button:hover {
    opacity: 0.9;
}
.bnv{
    display: flex;
    position: fixed;
    top: 0;
    width: 100% ;
    left: 0;
    height: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.buscar{

    display: flex;
    width: 10rem;
    height: 3rem;
}
.footer{
    height: 10rem;
    display: flex;
    position: fixed;
    top: 550px;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}
.footer img{
    width: 5rem;
    height: 5rem;
}